node_modules/
.env
.env.*
playwright-report/
playwright/.cache/
cypress/videos/
cypress/screenshots/
dist/
build/
out/
coverage/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
